fastapi[standard]==0.115.13
pydantic==2.11.7
pydantic-settings==2.9.1
python-jose==3.5.0
python-multipart==0.0.20
psycopg-binary==3.2.9
pytest
pytest-env
hyperdx-opentelemetry
git+https://github.com/draew6/fastroutes.git
git+https://github.com/draew6/fastlet.git
git+https://github.com/draew6/piping_bag.git
