uvicorn[standard]==0.34.2
python-jose==3.5.0
fastapi==0.115.12
pydantic==2.11.5
pydantic-settings>=2.0,<3.0
python-multipart==0.0.20
pytest==8.3.5
git+https://github.com/draew6/piping_bag.git@v0.2.4
bcrypt==4.3.0
sendgrid==6.12.3
psycopg-binary==3.2.9
git+https://github.com/draew6/fastroutes.git
email-validator==2.2.0
itsdangerous==2.2.0
redis==6.2.0